#success_explanation
  %h2 Thank you for your feedback
  %p
    If your message calls for a response from us, we try to reply within 5 business days.
%p{ :style => "padding-top: 20px;" }
  Got something else to say?
  = link_to "Write us another message", contact_path
