@import "../variables";

#blog article {
  margin: 20px 0 20px 0;
  border-top: none;
  border-top: 1px dotted $dark-biege;
  padding-top: 20px;
  clear: both;
}
#blog h2 {
  margin-bottom: 0;
}
div.blog_category, #blog time, div.blog_meta {
  display: inline-block;
  font-size: 11px;
  color: $dark-brown;
}
div.blog_meta {
  display: block;
  margin-top: 20px;
}
#blog article hgroup {
  margin-bottom: 10px;
}
