.-accordion {
  margin: 0;
  padding: 0;
}
.-accordion:before,
.-accordion:after {
  content: " ";
  display: table;
}
.-accordion:after {
  clear: both;
}
.-accordion__panel {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.-accordion__heading {
  position: relative;
  display: block;
  padding: 13px;
  color: #ecddc8;
  font-size: 24px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;font-family: 'Rockwell';
}
.-accordion__heading i{color:#864f28;margin-right: 15px;font-size: 18px;width: 30px;height: 30px;border-radius:50%;-webkit-border-radius:50%;-mos-border-radius:50%;-ms-border-radius:50%;background: #ecddc8;    vertical-align: middle;text-align: center;
    line-height: 30px;}
.-accordion__heading > .-icon {
  margin-top: 3px;
  color: #bbb;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
}
.-accordion__heading > .-icon--right {
  float: right;
  margin-left: 10px;
}
.-accordion__heading > .-icon--left {
  float: left;
  margin-right: 10px;
}
.-accordion__heading > .-icon:before {
  content: "＋";
}
.-accordion__expander {
  padding:27px 16px 27px 27px;
  color: #8b9597;
}
.-accordion--box .-accordion--active .-accordion__heading{
  color: #fff;background: #7a3623;
}
.-accordion--active .-accordion__heading i{color:#7a3623;background: #fff;}
.-accordion--active .-accordion__heading > .-icon:before {
  content: "—";
}
.-accordion--horizontal {
  height: 512px;
}
.-accordion--horizontal .-accordion__panel {
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
}
.-accordion--horizontal .-accordion__heading {
  width: 512px;
  text-align: left;
  -webkit-transform: translateX(-100%) rotate(-90deg) translateZ(0px);
  -moz-transform: translateX(-100%) rotate(-90deg) translateZ(0px);
  -ms-transform: translateX(-100%) rotate(-90deg) translateZ(0px);
  -o-transform: translateX(-100%) rotate(-90deg) translateZ(0px);
  transform: translateX(-100%) rotate(-90deg) translateZ(0px);
  -webkit-transform-origin: right top 0;
  -moz-transform-origin: right top 0;
  -ms-transform-origin: right top 0;
  -o-transform-origin: right top 0;
  transform-origin: right top 0;
}
.-accordion--horizontal .-accordion__heading > .-icon {
  right: 227px;
  -webkit-transform: rotate(90deg) translateZ(0px);
  -moz-transform: rotate(90deg) translateZ(0px);
  -ms-transform: rotate(90deg) translateZ(0px);
  -o-transform: rotate(90deg) translateZ(0px);
  transform: rotate(90deg) translateZ(0px);
}
.-accordion--horizontal .-accordion__expander {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 740px;
  margin-left: 50px;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.-accordion--basic.-accordion--vertical .-accordion__panel {
  border-bottom: 2px solid #edf1f2;
}
.-accordion--basic.-accordion--horizontal .-accordion__panel {
  border-right: 2px solid #edf1f2;
}
.-accordion--basic .-accordion--active {
  background-color: #f6f9f9;
}

.-accordion--box.-accordion--vertical .-accordion__panel {
  margin-bottom: 10px;
}
.example li{margin-right: 3px;}
.example li:last-child{margin-right: 0;}
.-accordion--box .-accordion__heading {
  background-color: #864f28;
}