.connect_cafe
  .connect_cafe_container
    .connect_cafe_innr
      %a{:href => "/stay-connected"}
        %h2 Stay Connected

        / LightWidget WIDGET
        %script{:src => "//lightwidget.com/widgets/lightwidget.js"}
        %iframe.lightwidget-widget{:allowtransparency => "true", :scrolling => "no", :src => "//lightwidget.com/widgets/56577a3ab3b85b47a147a0d6c929ab0f.html", :style => "width: 100%; border: 0; overflow: hidden;"}


