// Main styles (sized for desktop)
@import "components/defaults";
@import "components/header";
@import "components/flash_messages";
@import "components/admin_panel";
@import "components/layout";
@import "components/homepage";
@import "components/sidebar";
@import "components/blog";
@import "components/google_maps";
@import "components/tables";
@import "components/footer";
@import "components/links";
@import "components/buttons";
@import "components/newsletter_signup";
@import "components/mobile_menu";
@import "components/shop";
@import "components/simple_form";
@import "components/muskoka_form";

// Responsive overrides
@import "responsive/tablet";
@import "responsive/homepage";
@import "responsive/phone";

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
