/* Measurements */
$desktop-width: 920px;
$content-width: 684px;
$sidebar-width: 217px;
$tablet-width: 1024px;
$phone-width: 500px;
$homepage-width: 730px;

/* Red */
$red:                 #7c351f;
$dark-red:            #6b2e1b;
$light-red:           #ba6951;
$shadow-red:          #532415;

/* Biege */
$biege:               #f7f0e6;
$light-biege-form-border: #eddcc4;
$light-biege-form-bg: #faf6ef;
$light-biege:         #e2c69a;
$footer-biege:        #f6ead8;
$dark-biege:          #e0c298;
$snav-border-biege:   #d7b584;
$global-biege:        #cfb888;

/* Global Colours */
$black:               #000000;
$keyline-color:       #bcb7af;
$button-off:          #2b271d;
$button-on:           #cfb888;
$button-off-font:     #cfb888;
$button-on-font:      #4d351d;
$button-empty-font:   #3d3729;

/* Brown */
$brown:               #8b6e46;
$dark-brown:          #4d351d;
$footer-brown:        #beaa8d;
$dark-footer-brown:   #827460;

/* Dynamic Feedback */
$error-red:           #a33229;
$valid-green:         #79c144;

$serif: MuskokaRoastery, Arial, Helvetica, 'Helvetica Neue', sans-serif;
$sans-serif: Arial, Helvetica, 'Helvetica Neue', sans-serif;
