<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Where To Buy
URL of the webpage where the tag is expected to be placed: http://www.muskokaroastery.com/where-to-buy
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 11/09/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://6231840.fls.doubleclick.net/activityi;src=6231840;type=retar0;cat=where0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://6231840.fls.doubleclick.net/activityi;src=6231840;type=retar0;cat=where0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->