.left 
  Total
.right
  -# %h2#cart-total-price= number_to_currency cart.total_price + estimated_shipping_fees
  %h2#cart-total-price= number_to_currency cart.total_price
  = link_to "update totals", "javascript:void(0)", :id => "update-totals-link"
