$("#order-review").after("<div id='paypal-form-container' style='display: none;'></div>");
$("#paypal-form-container").html("<%= escape_javascript(render(:partial => 'shopping_cart/paypal_form', :locals => { :order => @order })) %>");
$("#paypal-form").submit();
